
#left {
   position: absolute;
   left: 10px;
   width: 400px;
}

#mid {
   position: absolute;
   margin-left: 400px;
}

#right {
   position: absolute;
   margin-left: 800px;
}

label {
    text-align: right;
    display: inline-block;
    width: 100px;
    margin-right: 5px;
    font-weight: bold;
}

label.checkbox {
    text-align: left;
}

input {
    margin-right: 5px;
}

button {
    width: 100px;
    margin-left: 109px;
}

li.settings-fieldset-interior-item > button {
     margin-left: 0px;
}

th, td {
    width: 50px;
    padding: 3px;
    text-align: right;
}

th, td.label {
    font-weight: bold;
}

th.mark, td.mark {
	width: 20px;
}

div.mark {
	border-radius: 50%;
	border-style: solid;
	border-width: thin;
}

div.ht0 {
	background-color: LawnGreen;
}

div.ht1 {
	background-color: Yellow;
}

div.ht2 {
	background-color: Orange;
}

div.ht3 {
	background-color: Red;
}

.id-col {
    width: 10px;
}

.date-col {
    padding: 3px;
    text-align: left;
}

.icon {
	background-image: none;
}

.icon-delete:hover {
	background-image: url('../../../core/img/actions/delete.svg');
}

.icon-edit:hover {
	background-image: url('../../../core/img/actions/rename.svg');
}

input.invalid {
	border-width: 2px;
  	border-color: red;
}
