
#left {
   position: absolute;
   left: 10px;
   width: 400px;
}

#mid {
   position: absolute;
   margin-left: 400px;
}

#right {
   position: absolute;
   margin-left: 800px;
}

label {
    text-align: right;
    display: inline-block;
    width: 100px;
    margin-right: 5px;
    font-weight: bold;
}

label.checkbox {
    text-align: left;
}

input {
    margin-right: 5px;
}

#submit {
    width: 100px;
    margin-left: 109px;
}

th, td {
    width: 50px;
    padding: 3px;
    text-align: right;
}

th, td.label {
    font-weight: bold;
}

.id-col {
    width: 10px;
}

.date-col {
    padding: 3px;
    text-align: left;
}

.icon {
	background-image: none;
}
